{% extends "base.html" %}

{% block content %}
<h1 class="title">Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="field">
            {{ form.secret_name.label(class_="label") }}<br>
            {{ form.secret_name(size=32, class_="input") }}<br>
            {% for error in form.secret_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="field">
            {{ form.secret_type.label(class_="label") }}
            <div class="select">
            {{ form.secret_type() }}
            </div>
            {% for error in form.secret_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.secret_content.label(class_="label") }}
            {{ form.secret_content(class_="textarea") }}
            {% for error in form.secret_content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="field">{{ form.submit(class_="button is-link") }}</div>
    </form>
{% endblock %}